<p style="color: green"><%= notice %></p>

<h1 style="color:white">
  <% if current_user.about.nil? %>  
    <%= current_user.email %>
  <% else %>
    <%= current_user.about.first_name %> 
    <%= current_user.about.last_name %><% end %>'s Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <% if current_user.id == article.user_id%>
      <div class="card bg-dark text-white">
        <h4 class="card-header"><%= article.title%></h4>
        <div class="card-body">
          <%= link_to "Show this article", article, class:'btn btn-secondary' %>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>
</div>

<%# <%= link_to "New article", new_article_path %> 
