<div id="<%= dom_id about %>">
  <p>
    <strong>First name:</strong>
    <%= about.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= about.last_name %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= about.profession %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= about.summary %>
  </p>

</div>
