<%= form_with(model: about) do |form| %>
  <% if about.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(about.errors.count, "error") %> prohibited this about from being saved:</h2>

      <ul>
        <% about.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.text_field :first_name, class:"form-control", placeholder:'First Name' %>
  </div>

  <div class='mb-3'>
    <%= form.text_field :last_name, class:"form-control", placeholder:'Last Name' %>
  </div>

  <div class='mb-3'>
    <%= form.text_field :profession, class:"form-control", placeholder:'Profession' %>
  </div>

  <div class='mb-3'>
    <%= form.text_area :summary, class:"form-control", placeholder:'About me' %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :article_user_id ,value:current_user.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit class:'btn btn-secondary'%>
  </div>
<% end %>
