<p style="color: green"><%= notice %></p>

<h1>About</h1>

<div id="abouts">
  <% @abouts.each do |about| %>
    <% if about.user_id == current_user.id %>
      <%= render about %>
      <div>
        <%= link_to "Edit", edit_about_path(about) %> |
        <%= link_to "Back", root_path %>

        <%= button_to "Delete my about page", about, method: :delete %>
      </div>
    <% end %>
  <%end%>
</div>


<% account_exists = false %>
<% @abouts.each do |about| %>
    <% if about.user_id == current_user.id %>
      <% account_exists = true %>
    <% end %>
  <%end%>
<% if account_exists == false %>
    <%= link_to "Create your about page", new_about_path %>
<% end %>

